.nav-bar {
  display: flex;


  // .nav-bar_desktop
  &_desktop {
    justify-content: space-between;
    align-items: center;
  }

  // моб контейнер
  // .nav-bar_mobile
  &_mobile {}

  // .nav-bar__phone

  &__phone {
    @include nav-hover;

    &_desktop {
      display: flex;
      align-items: center;
      min-height: 70px;

      font-size: 18px;
      line-height: 1.1666;
      color: $colorDark;

      margin: 0 56px 0 auto;

      @media (max-width: $breakpoint1920) {
        font-size: 16px;
        line-height: 1.5;

        margin: 0 35px 0 auto;
      }
    }
  }
}

.nav {

  // .nav__container

  &__container {
    display: flex;

    &>*:not(:last-child) {
      margin-right: 60px;

      @media (max-width: $breakpoint1920) {
        margin-right: 30px;
      }
    }
  }

  // .nav__item

  &__item {
    display: flex;
    align-items: center;
    min-height: 70px;

    font-size: 18px;
    line-height: 1.1666;
    color: $colorDark;

    @include nav-hover;

    &>a {
      color: inherit;
    }

    @media (max-width: $breakpoint1920) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.social-bar {

  // .social-bar__link-wrapper

  &__link-wrapper {}

  // .social-bar__link

  &__link {}
}