.sale {
  margin-bottom: 140px;
  // .sale__heading-wrapper

  &__heading-wrapper {
    margin-bottom: 40px;
  }

  // .sale__swiper

  &__swiper {
    margin-bottom: 40px;
  }

  // .sale__card

  &__card {
    background: #FFFFFF;
    border: 1px solid #F8F3F1;

    box-sizing: border-box;

    cursor: pointer;

    position: relative;

    transition: $linkTransition;

    &:hover {
      box-shadow: 0px 3px 16px rgba(30, 26, 23, 0.11);

      & .button {
        display: block;
      }

      & .card-sale__price {
        display: none;
      }

      // & .card-sale__img {
      //   margin-bottom: 30px;
      // }
    }
  }

  // .sale__button-wrapper

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
}


// ! card 

.card-sale {
  height: 346px;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $breakpoint768) {
    padding: 18px 10px 10px;
    height: 170px;
  }

  // .card-sale__info

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;
    border-bottom: 1px solid #CECBCB;
  }

  // .card-sale__img

  &__img {
    max-width: 160px;

    object-fit: contain;

    margin-bottom: 37px;

    @media (max-width: $breakpoint768) {
      max-width: 69px;
    }

    @media (max-width: $breakpoint1280) {
      margin-bottom: 58px;
    }

    @media (max-width: $breakpoint1280) {
      margin-bottom: 25px;
    }
  }

  // .card-sale__heading

  &__heading {
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    @media (max-width: $breakpoint768) {
      font-size: 8px;
    }
  }

  // .card-sale__price

  &__price {
    display: flex;
    justify-content: space-around;

    font-size: 18px;
    line-height: 150%;

    @media (max-width: $breakpoint768) {
      font-size: 8px;
    }
  }

  // .card-sale__old-price

  &__old-price {
    text-decoration: line-through;

    color: #CECBCB;
  }

  // .card-sale__new-price

  &__new-price {
    color: #3A3E46;
  }

  // .card-sale__percent

  &__percent {
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;

    display: block;
    padding: 7px 7px 5px 14px;

    background-color: #fbc3b1;
    border-radius: 0 0 0 20px;

    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: $breakpoint768) {
      font-size: 9px;

      padding: 3px 3px 3px 6px;
    }
  }

  // .card-sale__button

  &__button {
    display: none;

    align-self: center;

    background-color: $colorMint;
    border: 1px solid $colorMint;
    color: $colorBg;

    @media (max-width: 425px) {
      font-size: 8px;
      padding: 3px 15px;
    }
  }
}