<section class="sale container section-margin">
  <div class="sale__heading-wrapper">
    @@include('../Heading/_heading_section.html',{
    "title":"Распродажа"
    })
  </div>

  <!-- <ul class="sale__wrapper">
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale1.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale2.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale2.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale3.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale4.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale5.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="sale__card">
        <div class="card-sale">
          <div class="card-sale__info">
            <img src="../img/sale6.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
    </ul> -->

  <div class="swiper sale__swiper sale__wrapper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="sale__card card-sale">
          <div class="card-sale__info">
            <img src="../img/sale1.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="sale__card card-sale">
          <div class="card-sale__info">
            <img src="../img/sale2.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="sale__card card-sale">
          <div class="card-sale__info">
            <img src="../img/sale3.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="sale__card card-sale">
          <div class="card-sale__info">
            <img src="../img/sale4.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="sale__card card-sale">
          <div class="card-sale__info">
            <img src="../img/sale5.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="sale__card card-sale">
          <div class="card-sale__info">
            <img src="../img/sale6.jpg" alt="sale card image" class="card-sale__img">
            <div class="card-sale__heading">
              Золотое кольцо
              с бриллиантом
            </div>
          </div>
          <div class="card-sale__price">
            <div class="card-sale__old-price">99999.99</div>
            <div class="card-sale__new-price">20 000 ₽</div>
          </div>
          <a href="#" class="button card-sale__button" target="_blank" rel="noreferrer noopener">Купить</a>
          <span class="card-sale__percent">— 20%</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="sale__button-wrapper">
    @@include('../button/button.html',{
    "title": "Посмотреть все",
    })
  </div>
</section>