<div class="banner banner_bonus">
  <div class="banner__demo banner__demo_bonus">
    <img class="banner__img banner__img_bonus" src="@img/banner-bonus.jpg" alt="picture">
  </div>
  <div class="banner__info banner__info_bonus">
    <h2 class="banner__heading banner__heading_bonus">Ювелирная сеть
      «Жемчужина»</h2>
    <p class="banner__text banner__text_bonus">
      Основана в 2003 году, а сегодня это развитая сеть магазинов в 6 городах Черноземья. 17 лет мы предлагаем
      покупателям
      качественные изделия из драгоценных металлов российских производителей.
    </p>
    @@include('../button/button.html',{
    "title":"Подробнее"
    })
  </div>
</div>