<div class="banner banner_news">
  <div class="banner__demo banner__demo_news">
    <img class="banner__img banner__img_news" src="@img/news.jpg" alt="picture">
  </div>
  <div class="banner__info banner__info_news">
    <span class="banner__data">31 февраля 2022</span>
    <h2 class="banner__heading banner__heading_news">Заголовок новости</h2>
    <div class="banner__text banner__text_news">
      <p>Таким образом, понимание сути ресурсосберегающих технологий предоставляет широкие возможности для вывода
        текущих
        активов. Значимость этих проблем настолько очевидна, что убеждённость некоторых оппонентов говорит
        о возможностях
        благоприятных перспектив.</p>
      <p>Предварительные выводы неутешительны: консультация с широким активом предполагает независимые способы
        реализации
        поэтапного и последовательного развития общества. Являясь.</p>
    </div>
    @@include('../button/button.html',{
    "title":"Все новости"
    })
  </div>
</div>