<div class="banner banner_promo">
  <div class="banner__demo banner__demo_promo">
    <img class="banner__img banner__img_promo" src="@img/banner-promo.jpg" alt="picture">
  </div>
  <div class="banner__info banner__info_promo">
    <div class="banner__heading banner__heading_promo">
      <h2 class="banner__heading banner__heading_promo">Cкидки на бриллианты</h2>
      <!-- @@include('../Heading/_heading_card.html',{
      "title":"Cкидки на бриллианты"
      }) -->
    </div>
    <p class="banner__text banner__text_promo">
      Из новой коллекции SHINE DIAMONDS
    </p>
    @@include('../button/button.html',{
    "title":"Подробнее"
    })
  </div>
</div>