.banner {
  display: flex;
  justify-content: space-between;

  position: relative;

  // banner_news

  &_news {
    flex-flow: row-reverse;
  }

  // .banner_promo

  &_promo {
    flex-flow: row-reverse;
    margin-top: 94px; // 50 + 44 из-за картинки
    margin-bottom: 94px; // 50 + 44 из-за картинки
  }

  // .banner_bonus

  &_bonus {
    border-right: 1px solid #CECBCB;
  }

  // .banner__demo

  &__demo {


    background-color: $colorMint;

    position: relative;

    // banner__demo_news

    &_news {
      width: auto;
      height: auto;
    }

    // banner__demo_bonus

    &_bonus {
      width: 990px;
      height: 576px;
    }

    // banner__demo_promo

    &_promo {
      width: 990px;
      height: 576px;
    }
  }

  // .banner__img

  &__img {
    // banner__img_news

    &_news {
      width: 699px;
      height: 521px;
    }

    // banner__img_bonus

    &_bonus {
      width: 698px;
      height: 664px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &_promo {
      width: 759px;
      height: 664px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // banner__heading

  &__heading {
    color: #3A3E46;

    @media (max-width: $breakpoint1366) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint1024) {
      font-size: 27px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }


    // banner__heading_promo
    &_promo {
      font-size: 65px;
      line-height: 140%;

      margin-bottom: 30px;

    }

    // banner__heading_bonus
    &_bonus {
      font-size: 52px;
      line-height: 140%;

      margin-bottom: 40px;
    }

    // banner__heading_news

    &_news {
      font-size: 26px;
      line-height: 119%;
      text-transform: uppercase;

      margin-bottom: 40px;
    }

  }

  // .banner__info

  &__info {
    display: flex;
    flex-direction: column;


    // banner__info_bonus
    &_bonus {
      max-width: 435px;

      margin: 50px auto;
    }

    // banner__info_promo
    &_promo {
      max-width: 553px;

      margin: 50px auto;
    }

    //banner__info_news

    &_news {
      max-width: 583px;

      margin: 0 auto;
    }
  }

  // .banner__text

  &__text {
    line-height: 150%;


    // .banner__text_bonus

    &_bonus {
      font-size: 18px;

      margin-bottom: 50px;
    }

    // .banner__text_promo

    &_promo {
      font-size: 22px;
      text-transform: uppercase;

      margin-bottom: 55px;
    }

    // banner__text_news

    &_news {
      font-size: 18px;

      margin-bottom: 50px;

      &>p {
        font-size: inherit;
      }

      &>p:not(:last-child) {
        margin-bottom: 20px;
      }

    }
  }

  // banner__data
  &__data {
    font-size: 18px;
    line-height: 117%;
    color: #CECBCB;

    margin-bottom: 30px;
  }
}