<section class="new-positions container section-margin">
  <div class="new-positions__heading-wrapper">
    @@include('../Heading/_heading_section.html',{
    "title":"Новинки"
    })
  </div>
  <ul class="new-positions__wrapper">
    <li class="new-positions__item">
      <div class="card-new card-new_regular card-new_first">
        <div class="card-new__heading">
          <p>Название</p>
          <p>коллекции</p>
        </div>
      </div>
    </li>
    <li class="new-positions__item">
      <div class="card-new card-new_big card-new_second">
        <div class="card-new__heading">
          <p>Название</p>
          <p>коллекции</p>
        </div>
      </div>
    </li>
    <li class="new-positions__item">
      <div class="card-new card-new_regular card-new_third">
        <div class="card-new__heading">
          <p>Название</p>
          <p>коллекции</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="swiper new-positions__swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="new-positions__item">
          <div class="card-new card-new_regular card-new_first">
            <div class="card-new__heading">
              <p>Название</p>
              <p>коллекции</p>
            </div>
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="new-positions__item">
          <div class="card-new card-new_regular card-new_second">
            <div class="card-new__heading">
              <p>Название</p>
              <p>коллекции</p>
            </div>
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="new-positions__item">
          <div class="card-new card-new_regular card-new_third">
            <div class="card-new__heading">
              <p>Название</p>
              <p>коллекции</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-button-prev new-positions__swiper-prev"></div>
    <div class="swiper-button-next new-positions__swiper-next"></div>
  </div>
  <a href="#" class="button new-positions__button" target="_blank" rel="noreferrer noopener">Все новинки</a>
</section>