.header {

  // .header__main

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 90px 0 30px 0;

    position: relative;

    @media (max-width: $breakpoint1920) {
      padding: 40px 0 25px 0;
    }

    @media (max-width: $breakpoint1366) {
      padding: 35px 0 25px 0;
    }

    @media (max-width: $breakpoint1280) {
      padding: 27px 0 20px 0;
    }

    @media (max-width: $breakpoint1024) {
      padding: 20px 0 15px 0;
    }

    @media (max-width: $breakpoint768) {
      padding: 30px 0 20px 0;
    }
  }

  // .header__logo

  &__logo {
    max-width: 284px;
    position: absolute;
    left: 50%;
    bottom: 20%;

    transform: translateX(-50%);

    &>img {
      width: 100%;
    }

    @media (max-width: $breakpoint1920) {
      max-width: 200px;
    }

    @media (max-width: $breakpoint1366) {
      max-width: 187px;
    }

    @media (max-width: $breakpoint1280) {
      max-width: 149px;
    }

    @media (max-width: $breakpoint1024) {
      max-width: 112px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 139px;
    }
  }

  // .header__nav

  &__nav {
    background-color: $colorAccent;
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;

  width: 32px;
  height: 32px;

  cursor: pointer;

  &::before {
    content: '';
    display: block;
    border: 1px solid #3A3E46;
    margin-bottom: 9.33px;
  }

  &::after {
    content: '';
    display: block;
    border: 1px solid #3A3E46;
    margin-top: 9.33px;
  }

  &>span {
    display: block;
    border: 1px solid #3A3E46;
  }

  @media (max-width: $breakpoint1280) {
    display: flex;
  }

  @media (max-width: $breakpoint1024) {
    width: 24px;
    height: 24px;
  }
}

.user-bar {
  display: flex;

  &>*:not(:last-child) {
    margin-right: 44.45px;

    @media (max-width: $breakpoint1280) {
      margin-right: 25px;
    }

    @media (max-width: $breakpoint768) {
      margin-right: 20px;
    }
  }

  // .user-bar__item

  &__item {
    position: relative;
  }

  // .user-bar__link

  &__link {
    &>svg {
      width: 24px;
      height: 27px;

      stroke: #3A3E46;
      transition: $linkTransition;

      @media (max-width: $breakpoint1366) {
        width: 22px;
        height: 25px;
      }

      @media (max-width: $breakpoint1280) {
        width: 16px;
        height: 18px;
      }

      @media (max-width: $breakpoint1024) {
        width: 14px;
        height: 14px;
      }
    }

    &:hover {
      &>svg {
        stroke: #F6D5CC;
      }
    }
  }

  // .user-bar__counter

  &__counter {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $colorYellow;
    border-radius: 50%;

    font-size: 12px;
    line-height: 1.1666;
    color: $colorDark;

    position: absolute;
    top: -20%;
    left: 60%;

    @media (max-width: $breakpoint1366) {
      width: 18px;
      height: 18px;
    }

    @media (max-width: $breakpoint1280) {
      width: 13px;
      height: 13px;

      font-size: 10px;
      line-height: 120%;
    }

    @media (max-width: $breakpoint1024) {
      width: 10px;
      height: 10px;

      font-size: 7px;
      line-height: 114%;
    }

  }
}