.header {

  // .header__main

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    // padding-top: 95px;
    padding: 90px 0 30px 0;

    position: relative;
  }

  // .header__label

  &__label {}

  // .header__search-input

  &__search-input {}

  // .header__submit

  &__submit {}

  // .header__logo

  &__logo {
    max-width: 284px;
    position: absolute;
    left: 50%;
    bottom: 20%;

    transform: translateX(-50%);

    &>img {
      width: 100%;
    }

    @media (max-width: $breakpoint1920) {
      max-width: 200px;
    }

    @media (max-width: $breakpoint1280) {
      max-width: 187px;
    }

    @media (max-width: $breakpoint1024) {
      max-width: 149px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 140px;
    }
  }

  // .header__user-bar

  &__user-bar {
    display: flex;

    &>*:not(:last-child) {
      margin-right: 44.45px;
    }
  }

  // .header__nav

  &__nav {
    background-color: $colorAccent;
  }

  // header__nav-wrapper

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__phone

  &__phone {
    display: flex;
    align-items: center;
    min-height: 70px;

    font-size: 18px;
    line-height: 1.1666;
    color: $colorDark;

    margin: 0 56px 0 auto;

    @include nav-hover;

    @media (max-width: $breakpoint1920) {
      font-size: 16px;
      line-height: 1.5;

      margin: 0 35px 0 auto;
    }
  }
}

.burger {
  display: none;

  @media (max-width: $breakpoint1024) {
    display: block;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 32px;
      border: 1px solid #3A3E46;
      margin-bottom: 9.33px;
    }

    &::after {
      content: '';
      display: block;
      width: 32px;
      border: 1px solid #3A3E46;
      margin-top: 9.33px;
    }

    &>span {
      display: block;
      width: 32px;
      border: 1px solid #3A3E46;
    }
  }
}

.user-bar {

  // .user-bar__item

  &__item {}

  // .user-bar__link

  &__link {
    &>* {
      stroke: #3A3E46;
      transition: $linkTransition;
    }

    &:hover {
      &>* {
        stroke: #F6D5CC;
      }
    }

    // user-bar__link_cart
    &_cart {
      position: relative;
    }
  }

  // .user-bar__counter

  &__counter {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $colorYellow;
    border-radius: 50%;

    font-size: 12px;
    line-height: 1.1666;
    color: $colorDark;

    position: absolute;
    bottom: 140%;
    left: 60%;

  }
}

.nav {

  // .nav__container

  &__container {
    display: flex;

    &>*:not(:last-child) {
      margin-right: 60px;

      @media (max-width: $breakpoint1920) {
        margin-right: 30px;
      }
    }
  }

  // .nav__item

  &__item {
    display: flex;
    align-items: center;
    min-height: 70px;

    font-size: 18px;
    line-height: 1.1666;
    color: $colorDark;

    @include nav-hover;

    &>a {
      color: inherit;
    }

    @media (max-width: $breakpoint1920) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.social-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  &>*:not(:last-child) {
    margin-right: 34px;
  }

  // .social-bar__link-wrapper

  &__link-wrapper {
    display: flex;
    align-items: center;
    min-height: 70px;

    @include nav-hover;
  }

  // .social-bar__link

  &__link {}
}

.header {

  // .header__label

  &__label {}

  // .header__search-input

  &__search-input {}

  // .header__submit

  &__submit {}
}

// input

.search {

  // search_header
  &_header {
    width: 287px;

    display: flex;

    @media (max-width: $breakpoint1024) {
      display: none;
    }
  }

  // search_burger
  &_header {
    display: flex;

  }

  // .search__input

  &__input {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 3px 0;
    color: $colorDark;
    border-bottom: 1px solid $colorGrey;

    &::placeholder {
      font-size: 18px;
      line-height: 1.1818;
      color: $colorGrey;
    }

    &:focus {
      border-bottom: 1px solid $colorDark;
      caret-color: $colorDark;

      &::placeholder {
        color: $colorDark
      }
    }
  }

  // .search__submit

  &__submit {
    width: 24px;
    height: 24px;

    background: transparent;
  }
}