.header {

  // .header__main

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    // padding-top: 95px;
    padding: 90px 0 30px 0;

    position: relative;
  }

  // .header__label

  &__label {}

  // .header__search-input

  &__search-input {}

  // .header__submit

  &__submit {}

  // .header__logo

  &__logo {
    max-width: 284px;
    position: absolute;
    left: 50%;
    bottom: 20%;

    transform: translateX(-50%);

    &>img {
      width: 100%;
    }
  }

  // .header__user-bar

  &__user-bar {
    display: flex;

    &>*:not(:last-child) {
      margin-right: 44.45px;
    }
  }

  // .header__nav

  &__nav {
    background-color: $colorAccent;
  }

  // header__nav-wrapper

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 70px;
  }

  // .header__phone

  &__phone {
    font-size: 18px;
    line-height: 1.1666;
    color: $colorDark;

    margin: 0 56px 0 auto;
  }
}

.burger {}

.user-bar {

  // .user-bar__item

  &__item {}

  // .user-bar__link

  &__link {

    // user-bar__link_cart
    &_cart {
      position: relative;
    }
  }

  // .user-bar__counter

  &__counter {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $colorYellow;
    border-radius: 50%;

    font-size: 12px;
    line-height: 1.1666;
    color: $colorDark;

    position: absolute;
    bottom: 140%;
    left: 60%;

  }
}

.nav {

  // .nav__container

  &__container {
    display: flex;

    &>*:not(:last-child) {
      margin-right: 60px;
    }
  }

  // .nav__item

  &__item {
    font-size: 18px;
    line-height: 1.1666;
    color: $colorDark;
  }
}

.social-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  &>*:not(:last-child) {
    margin-right: 34px;
  }

  // .social-bar__link-wrapper

  &__link-wrapper {}

  // .social-bar__link

  &__link {}
}

.header {

  // .header__label

  &__label {}

  // .header__search-input

  &__search-input {}

  // .header__submit

  &__submit {}
}

.search {

  // .search__input

  &__input {}

  // .search__submit

  &__submit {}
}


// input

.search {
  width: 287px;

  display: flex;
  // .search__input

  &__input {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 3px 0;
    color: $colorGrey;
    border-bottom: 1px solid $colorGrey;

    &::placeholder {
      font-size: 18px;
      line-height: 1.1818;
      color: $colorGrey;
    }
  }

  // .search__submit

  &__submit {
    width: 24px;
    height: 24px;

    background: transparent;
  }
}