@font-face {
  font-family: agavalanchec;
  font-display: swap;
  src: url("../fonts/agavalanchec.woff2") format("woff2"), url("../fonts/agavalanchec.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: agavalanchec;
  font-display: swap;
  src: url("../fonts/agavalanchec_bold.woff2") format("woff2"), url("../fonts/agavalanchec_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}