// * Global SCSS imports
@import "normalize";
@import "_reset";
@import "fonts";
@import "_vars";
@import "_global";

// * компоненты
@import "_header";
@import "../htmlParts/components/Search/Search";
@import "../htmlParts/components/Nav-bar/Nav-bar";
@import'../htmlParts/components/Heading/_heading';
@import'../htmlParts/components/button/button.scss';
@import'../htmlParts/components/Promo/Promo';
@import'../htmlParts/components/DecorTabs/_DecorTabs.scss';
@import'../htmlParts/components/Banner/Banner';
@import'../htmlParts/components/Catalog/Catalog';
@import'../htmlParts/components/New-positions/New-positions';
@import'../htmlParts/components/Bonus/Bonus';
@import'../htmlParts/components/Sale/Sale';
@import'../htmlParts/components/About/About';
@import'../htmlParts/components/News/News';
@import'../htmlParts/components/ScrollUp/ScrollUp';
@import'../htmlParts/components/Menu-popup/Menu-popup';
@import'../htmlParts/components/Footer/Footer';

// swiper
@import '../../node_modules/swiper/swiper-bundle';

// общие стили

html {
  scroll-behavior: smooth;
}

.button {
  align-self: flex-start;

  padding: 10px 70px;
  background-color: transparent;

  font-size: 22px;
  line-height: 118%;
  text-align: center;

  color: $colorDark;

  border: 1px solid $colorDark;
  box-sizing: border-box;
  border-radius: 4px;

  cursor: pointer;
  transition: $linkTransition;

  // в свайпере
  &_promo {
    @media (max-width: $breakpoint1366) {
      font-size: 18px;
      line-height: 116%;
    }
  }

  &:hover {
    background-color: $colorMint;
    border: 1px solid $colorMint;
    color: $colorBg;
  }

  @media (max-width: $breakpoint1280) {
    font-size: 18px;
    line-height: 116%;
  }

  @media (max-width: $breakpoint1024) {
    padding: 8px 55px;
  }

  @media (max-width: $breakpoint768) {
    padding: 6px 40px;
    font-size: 14px;
    line-height: 121%;
  }
}

.section-margin {
  margin-bottom: 140px;

  @media (max-width: $breakpoint1920) {
    margin-bottom: 100px;
  }

  @media (max-width: $breakpoint1366) {
    margin-bottom: 90px;
  }

  @media (max-width: $breakpoint1280) {
    margin-bottom: 85px;
  }

  @media (max-width: $breakpoint1024) {
    margin-bottom: 50px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 40px;
  }
}