<section class="bonus container section-margin">
  <div class="bonus__heading-wrapper">
    @@include('../Heading/_heading_section.html',{
    "title":"Бонусная программа"
    })
  </div>
  <ul class="bonus__wrapper">
    <li class="bonus__card bonus__card_sertificate">
      <div class="bonus__image bonus__image_sertificate">
        <img src="./img/bonus1.png" alt="bonus image">
      </div>
      <div class="bonus__caption bonus__caption_sertificate">
        <p>Подарочный</p>
        <p>сертификат</p>
        <p>осуществите самые заветные желания дорогого человека</p>
      </div>
    </li>
    <li class="bonus__card bonus__card_discont">
      <div class="bonus__image">
        <img src="./img/bonus2.png" alt="bonus image">
      </div>
      <div class="bonus__caption">
        <p>Дисконтные</p>
        <p>Карты</p>
        <p>для наших любимых покупателей</p>
      </div>
    </li>
    <li class="bonus__card bonus__card_offer">
      <div class="bonus__image">
        <img src="./img/bonus3.png" alt="bonus image">
      </div>
      <div class="bonus__caption">
        <p>Обручальные</p>
        <p>кольца</p>
        <p><span>3480</span>руб/гр</p>
      </div>
    </li>
  </ul>
  <div class="swiper bonus__swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="bonus__card bonus__card_sertificate">
          <div class="bonus__image bonus__image_sertificate">
            <img src="./img/bonus1.png" alt="bonus image">
          </div>
          <div class="bonus__caption bonus__caption_sertificate">
            <p>Подарочный</p>
            <p>сертификат</p>
            <p>осуществите самые заветные желания дорогого человека</p>
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="bonus__card bonus__card_discont">
          <div class="bonus__image">
            <img src="./img/bonus2.png" alt="bonus image">
          </div>
          <div class="bonus__caption">
            <p>Дисконтные</p>
            <p>Карты</p>
            <p>для наших любимых покупателей</p>
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="bonus__card bonus__card_offer">
          <div class="bonus__image">
            <img src="./img/bonus3.png" alt="bonus image">
          </div>
          <div class="bonus__caption">
            <p>Обручальные</p>
            <p>кольца</p>
            <p><span>3480</span>руб/гр</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-button-prev bonus__swiper-prev"></div>
    <div class="swiper-button-next bonus__swiper-next"></div>
  </div>
</section>